.popout {
    visibility: hidden;
    z-index: 1000;
    position: fixed;
    display: flex;
    width: calc(80vw - 16px);
    height: calc(80% - 16px);
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-right: 10vw;
    margin-left: 10vw;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 8px;
    border-radius: 15px;
}

.left-popup-div {
    display: flex;
    flex-direction: column;
    width: 34%;
    height: 100%;
    overflow: hidden;
}
.right-popup-div {
    display: inline-block;
    width: 66%;
    height: 100%;
}

.top-right-popup-div {
    width: 100%;
    height: 10%;
    display: flex;
}

.top-left-div {
    width: 90%;
    display: inline-block;
    height: 100%;
}

.top-right-div {
    width: 10%;
    display: inline-block;
    height: 100%;
    background-color: white;
    border-radius: 15px;
}

.popup-pic {
    width: 80%;
    height: 25%;
    padding-top: 10%;
    padding-left: 10%;
}

.bottom-right-popup-div {
    height: 90%;
    width: 100%;
    overflow: scroll;
    line-height: 30px;
    font-size: large;
    font-family: "new-spirit", serif;
    font-weight: 400;
    overflow: scroll;
}